body{
	height:100%;
	margin:0;
	background: radial-gradient(#87CEFA,#7B68EE);
	background-repeat:no-repeat;	
	background-attachment:fixed;	 
}

#calendar1 th,td{
	background-color:#fff;
}

.info_concedii{
	background-color:#7FDBFF;	
	border:2px solid #000;	
	position:absolute;
	padding:2%;
	right:0;	
	top:0;
	font-size:medium;
}
.info_concedii em{
	position:absolute;
	left:1%;
	top:1%;
	color:#707070;
}

.info_concedii a{
	text-decoration:none;
	color:blue;	
}
.info_concedii a:hover
{
	background-color:#000;
	color:#fff;
	box-shadow:3px 3px 5px #000;
	transition-duration:0.5s;
	text-decoration:none;
}
.info_concedii button{
	border:1px solid #000;
	background-color: #99CC99;
	color:black;
}
.info_concedii button:hover
{
	background-color:#000;
	color:#fff;
	box-shadow:3px 3px 5px #000;
	transition-duration:0.5s;
}
 


#everybody{
	border:1px solid #000;
	background-color: #99CC99;
	color:black;
}

#everybody{
	width:100px;
	border-radius:50%;
}


#everybody:hover{
	background-color:#000;
	color:#fff;
	box-shadow:3px 3px 5px #000;
	transition-duration:0.5s;
}


.eventsLegend
{
	width:100px;
	height:15px;
	border:1px solid #000;
	border-radius:100%;
}

.eventsLegend:hover
{
	cursor:pointer;	
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.loadingInProgress 
{
  margin:auto;
  border: 16px solid #f2a3b5;
  border-radius: 50%;
  border-top: 16px solid #000;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

